# Run U-Boot firmware
bios rvvm/fw_payload.bin

# Attach Redox image
image redox/redox_minimal-net.img

# Configure the CPU
sv48
smp 4

# Allocate memory
mem 1G

# Configure network
portfwd 2022=22

# Daemonize
nogui
#serial null
